    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is nodeschool</h2>
            <p class="intro text-center">nodeschool is Open source workshops that teach web software skills. The Kerala chapter of 
            nodeschool is headed by <a href="www.thinkfoss.com">ThinkFOSS</a> team from <a href="http://foss.amrita.ac.in">FOSS@Amrita</a></p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for everyone</h3>
                        <p>The training will strictly follow the course structure given over <a href="http://nodeschool.io/#workshoppers"> here </a>, and extra</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>The trainings are designed in a way that, the user gets to know enough of NodeJS within a limited time</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Quick Registration</h3>
                        <p>You can register and join the party in few relevant clicks.</p>
                    </div><!--//content-->
                </div><!--//item-->                     
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
