    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">What we do</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> NodeJS hands own training </li>
                <li><i class="fa fa-check"></i> Workshops</li>
                <li><i class="fa fa-check"></i> Hackathons </li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
